<?xml version="1.0" encoding="utf-8"?>
<config>
    <defaultValues>
        <name multilanguage="true">Unitpay</name>
        <description multilanguage="true">Приём платежей через Unitpay</description>
        <version>1.0.0.0</version>
        <author>Unitpay</author>
        <is_system>1</is_system>
    </defaultValues>
</config>
